:root{
    --bg-color-main-light: #E8F0EF;
    --bg-color-content-light:#FFFFFF;
    --font-color-main-light: #051513;
    --font-color-content-light: #4C5C59;

    --bg-color-main-dark: #001414;
    
}