.card{
    padding: 16px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 100%;
    /* max-width: 338px; */
    background-color: white;
    /* border: dashed */
    border-radius: 12px;
}

.card-header{
    display: flex;
    gap: 12px;
    /* justify-content: space-between; */

}
/* .card-header-content{
    width: 100%;
} */
.card-header-menu{
    width: 32px;
    height: 32px;
}
.card-header-content{
    flex: 1;
    
}
.card-header-content p{
    color: #899492;
}
.card-header-logo{
    width: 44px;
    height: 44px;
}

.card-body-btns{
    display: flex;
    gap: 8px;
}
article{
    color: rgba(76, 92, 89, 1);
}
.card-body-btns button{
    font-size: 12px;
    font-weight: 500;
    color: #4C5C59;
    border-style: none;
    padding: 2px 8px;
    border-radius: 4px;
}