*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* background-color: #E8F0EF; */
}

body{
    margin: 0;
    /* padding: 16px; */
    width: 100%;
   
    background-color: #E8F0EF;
}
